{% extends "webapp/base.html" %}  

{% load static %} 

{% block content %} 
<div class="container">
<div class="row" style="margin-top: 50px;">
    <img src="{% static 'img/clinica.png' %}" class="col"  alt="..." style="width: 65%;">
    <div class="col">
      <h5 class="card-title mt-5">Presentación</h5>
      <p class="card-text" style="margin-bottom: 80px;">La Clínica Optométrica de la Universidad de Alicante es un Centro docente y asistencial dedicado al tratamiento de los problemas de visión. La Clínica presta servicios desde el año 2001, y se encuentra ubicada en el edificio de Óptica de la Facultad de Ciencias.</p>
      <a class="card-text "><small class="text-muted mt-5">Mas información +</small></a>
    </div>
  </div>
</div>
{% endblock %} 