{% extends "webapp/base.html" %}  

{% load static %} 

{% block content %} 

<div class="container ">
    <div class="row">
    {% for producto in productos %}     
        
    <div class="card " style="width:25%; margin: 10px auto;">
        <img src="{{producto.imagen.url}}" class="card-img-top" alt="" style="margin:5px auto; border-radius: 5px;">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.detalles}}</p>
        </div>
               
        <div class="card-body">
          <a href="#" class="card-link">{{producto.categorias}}</a>
          <a href="#" class="card-link">+ info</a>
        </div>
      </div>
     
     {% endfor %} 
    </div>
</div>



{% endblock %} 